* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: Arial, sans-serif;
  background-color: lightgray;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

.all-graphs {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

<<<<<<< HEAD
button {
  background-color: #0a71d1;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
=======
.upper-graphs .active-users
{
  display: flex;
  flex-direction: column;
  background: #f6f2f2;
  color: #fff;
  padding: 1px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  width: 220px;
  height: 110%;
}
.counts-row {
    display: flex;
    justify-content: space-around;
    align-items: center; /* Optional: vertically centers items */
    width: 100%;
    margin-top: 10px;
    font-size: 10px;
    font-family: Arial, sans-serif; /* Specify a fallback font */
    font-weight: bold;
    padding: 0; /* Reset padding if needed */
    box-sizing: border-box; /* Ensures padding doesn't affect width */
}

.count-item {
  color: blue;
>>>>>>> 23b7c4be260208b0f4d213a869ebb576ff5d313c
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 20px;
}
button:hover {
  background-color: #084e99;
}

section.upper-graphs,
section.middle-graphs,
section.lower-graphs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
  padding: 1px;
  box-sizing: border-box;
}

article {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  flex: 1;
  min-width: 250px;
  max-width: 100%;
  height: 400px;
}

article.facility-bargraph,
article.months-bargraph,
article.piechart,
article.line-graph {
  padding: 20px;
}

.upper-graphs .total-users,
.upper-graphs .report {
  height: 200px;
  padding: 40px;
}

.upper-graphs .active-users {
  display: flex;
  flex-direction: column;
  background: #f6f2f2;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  flex: 1;
  padding: 10px;
}

.counts-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  font-size: 10px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  padding: 0;
  box-sizing: border-box;
}

.count-item {
  color: blue;
  font-size: 14px;
  text-align: center;
}
